*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.calendar{
	margin: auto;
	margin-top: 30px;
	width:80%;
	height:450px;
	background:#fff;
	box-shadow:0px 1px 1px rgba(0,0,0,0.1);
}

.body-list ul{
	width:100%;
	font-family:arial;
	font-weight:bold;
	font-size:18px;
}

.body-list ul li{
	width:14.28%;
	height:40px;
	line-height:36px;
	list-style-type:none;
	display:block;
	box-sizing:border-box;
	float:left;
	text-align:center;
}

.title{
	text-align: center;
}

.lightgrey{
	color:#a8a8a8;
}
.darkgrey{
	color:#565656;
}
.green{
	color:#578d37f5;
}
.greenbox{
	border:1px solid #62ad3a;
	background:#e9f8df;
}
