*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微軟正黑體";
    text-decoration: none
}
.container h1{
    color: #25bbc5;
}

.place_marker{
    width: 20px;
    margin:4px;
}
.rightcar{
    position: sticky;
    right: 0;
    top: 10px;
}


/* .msg-box{
    height: 100px;
    width: 85%;
    background-color: #ccc;
} */


.cartbtn{
    background-color:#25bbc5 !important
    /* border: 1px solid #25bbc5; */
}

.cardbody .btn-primary {
    border-color: #25bbc5 !important;
    background-color: #25bbc5 !important ;
}

.map{
    width: 300px;
    height: 200px;
}

.dropdown .btn-secondary{
    border-color: #25bbc5 !important;
    background-color: #25bbc5 !important ;
}

.path a{
    text-decoration: none;
    font-weight: 600;

}

.pathlink{
    color: #ccc;
    margin-left: 23px;
    line-height :40px;    
}

.pathinfo{
    color:#25bbc5;
    border-left: 3px solid #25bbc5;
    padding-left: 20px;
    line-height :40px;  
    text-decoration: none;
}

.pathlink:hover{
        color:#25bbc5;
        /* padding-bottom: 20px; */
        transition: 0.2s;
}
.pathinfo:hover{
        color:#25bbc5;
        /* padding-bottom: 20px; */
        transition: 0.5s;
}
